.page {
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 60vh;
    margin: 0 0 2vw;
    object-fit: cover;
    background-color: black;
    mix-blend-mode:darken;
}

