.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 1vw;
}

.justify-center {
    align-items: center;
}

.section {
    width: 100%;
    padding: 0.5vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: forestgreen;
    background-color: #eee;
    font-weight: bold;
    border: 0;
    cursor: pointer;
}

.section:hover {
    background-color: #ddd;
}

.item {
    padding: 0.5vw 1vw;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}