.nav-btn {
    border: 0;
    background-color: forestgreen;
    color:honeydew;
    padding: 1vw;
    height: 5.25vw;
    /* border-radius: 0.5vw; */
    /* font-size: 1.2vw; */
    /* font-weight: 400; */
    gap: 0.5vw;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: honeydew;
    color: forestgreen;
} 

.header {
    background-color:forestgreen;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explore-menu {
    display: none;
    position: absolute;
    top: 5.75vw;
    background-color: honeydew;
    border-radius: 0.5vw;
}

.explore-box:hover .explore-menu {
    display: block;
    
}

.explore-menu li {
    padding: 0.5vw;
}

.explore-menu li:hover {
    background-color: forestgreen;
    color: honeydew;
    border-radius: 0.5vw;
}


#search-bar {
    padding: 1vw;
    margin: 1vw 0;
    /* border: 3px solid lightgreen; */
    border: 0;
    background-color: honeydew;
    border-radius: 1vw 0 0 1vw;
    width: 100%;
    height: 1.25vw;
    font-size: 1vw;
}

#search-bar:focus {
    outline: 0;
    /* background-color: #cceecc; */
}

#search-box {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
}

#login-btn {
    border: 0;
    background-color: honeydew;
    color:forestgreen;
    padding: 1vw;
    height: 3.25vw;
    margin: 1vw 0;
    border-radius: 0.5vw;
    cursor: pointer;
}

#login-btn:hover {
    background-color: rgb(204, 217, 204);
    color: forestgreen;
} 

.user-area {
    position: relative;
}

.menu-btn {
    width: 6vw;
    margin: 1vw 0;
    height: 3.25vw;
    padding: 1.25vw;
    border-radius: 1vw;
    background-color: honeydew;
    color: forestgreen;
    justify-content: space-around;
    border: 0;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: rgb(204, 217, 204);
    color: forestgreen;
} 

.menu {
    position: absolute;
    z-index: 1;
    top: 5.25vw;
    right: 0;
    width: 12.5vw;
    padding: 1vw;
    border-radius: 1.25vw;
    background-color: white;
    box-shadow: 0 0 0.5vw 0 gray;
}

.menu-section {
    border-bottom: 0.1vw solid gray;
    padding-bottom: 0.5vw;
    margin-bottom: 0.5vw;
}

.logout-btn {
    width: 100%;
    border-radius: 0.5vw;
    padding: 0.5vw;
    border: 0.1vw solid #ff0000cc;
    color: #ff0000cc;
    background-color: #ff000011;
    gap: 0.5vw;
    justify-content: start;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #ff0000cc;
    color: white;
}

#search-btn {
    height: 3.25vw;
    background-color: honeydew;
    border-radius: 0 1vw 1vw 0;
    position: relative;
    border-width: 0 0 0 0.75vw;
    border-style: solid;
    border-color: forestgreen;
    padding: 0.5vw;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #cceecc;
}

#search-btn:active {
    background-color: #aaccaa;
}

#search-btn:disabled {
    background-color: #aaccaa;
    cursor: not-allowed;
}

.icon {
    color: forestgreen;
    height: 2.5vw;
    width: 2.5vw;
}